<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Represent Clo.</title>
</head>
<body>

    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
      </nav>

    <div class="About-section">

    
        <h8>About</h8>
        <div class="about-span"></div>
            <span>
        Represent has never introduced change for it’s own sake. It has chosen instead, to refine constantly the design of garments. Each development is analysed carefully to ensure that it not only meet’s the brother’s meticulous standards but adds to the luxurious pleasure to be discovered when handling the garment. The Represent owner will find the silhouettes through & through, with more detail, finer finishings and crafted fabrics. Represent is progressing as it always has done, with infinite care, making certain the garments give exceptional wear. Spirit of Britain, envy of the world.
            </span>
        </div>

        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
          </nav>

        <div class="about-img"></div>
        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t39.30808-6/241119590_4258630304217313_892892993486219070_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_ohc=NftV4WjN2hUAX-_b20B&_nc_ht=scontent-ort2-1.xx&oh=00_AT92hhp2LFYPkZErdmWwqy0frxnmiLFoqQd4djaGaKpVXg&oe=61E274D9">
        </div>

    </div>    

</body>




</html>