<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Represent Clothing</title>
</head>
<body>
    <div class="welcome-page">

        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
          </nav>
          
        <div class="welcome-page-image">
        <video playsinline="" autoplay="" muted="" loop="" poster="https://cdn.shopify.com/s/files/1/0181/2235/files/vault_bg_desktop_white.jpg?v=1628266507" id="vault_video_bg_wrapper">
            <source src="https://cdn.shopify.com/s/files/1/0181/2235/files/WhiteVault-D1080.mp4?v=1628269288" type="video/mp4" id="vault_video_bg">
            <h4 style="text-transform:uppercase;margin-top:15px;font-size:16px;">THE VAULT IS CLOSED</h4>
        </video>
    </div>
        
    </div>
</body>
</html>