<form action="/shop" method="POST">
    
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    
    <label for="price">Price</label>
    <input type="text" name="price" id="price"> 
    
    <label for="color">Color</label>
    <input type="text" name="color" id="color"> 
    
    <label for="description">Description</label>
    <input type="text" name="description" id="description"> 
    
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" id="quantity">  

    <input type="submit" value="Create">


</form>