
<div class="items">
    <% items.forEach(item =>{ %>
        <a href="">
            <img src="<%= item.image %>" alt="clothing"/>
            <span><%= item.item %></span>
            <span>$<%= item.price %> USD</span>
        </a>
    <%  }) %>
</div> 