
    
<div class="items">
    <% items.forEach(item =>{ %>
        <a href="shop/<%= item.id %>">
            <img src="<%= item.image %>" alt="clothing"/>
            <span><%= item.item %></span>
            <span>$<%= item.price %> USD</span>
        </a>

    <%  }) %>

</div> 

<script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 2000
      })
    });    
  </script>

<style>
    .carousel-item {
        height: 32rem;
        background: #777;
        position: relative;
        background-position: center;
        background-size: cover;
    }
    .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
        padding: 50px;
    }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="500">
        <img class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0181/2235/files/247_header-desktop.jpg?v=1635952392
        " alt="First slide">
      </div>
      <div class="carousel-item " data-interval="500">
        <img class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0587/5816/8785/files/OC_DESK_10.50.50_2048x.jpg?v=1632492206
        " alt="Second slide">
      </div>
      <div class="carousel-item active" data-interval="500">
        <img class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0181/2235/files/247_header-desktop.jpg?v=1635952392
        " alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  https://cdn.shopify.com/s/files/1/0587/5816/8785/files/DESKTOP_SLIDE_321ee6fa-4fe0-46e7-99bf-eb830e4eaf31_2048x.jpg?v=1641736376
  
  https://cdn.shopify.com/s/files/1/0181/2235/files/247_header-desktop.jpg?v=1635952392

  https://cdn.shopify.com/s/files/1/0587/5816/8785/files/247_Desktop_Banner_2048x.jpg?v=1628170401