<div class="welcome-page">
  <video
    playsinline=""
    autoplay=""
    muted=""
    loop=""
    poster="https://cdn.shopify.com/s/files/1/0181/2235/files/vault_bg_desktop_white.jpg?v=1628266507"
    id="vault_video_bg_wrapper"
  >
    <source
      src="https://cdn.shopify.com/s/files/1/0181/2235/files/WhiteVault-D1080.mp4?v=1628269288"
      type="video/mp4"
      id="vault_video_bg"
    />
  </video>
</div>
